[submodule "Engine/lib/glew"]
	path = Engine/lib/glew
	url = https://github.com/omniavinco/glew-cmake
[submodule "Engine/lib/glfw"]
	path = Engine/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/lib/glm"]
	path = Engine/lib/glm
	url = https://github.com/g-truc/glm